.outlet_info .content {
  display: flex;
  flex-wrap: wrap;
  background-color: seashell;
  max-width: 1100px;
}

.outlet_info .item {
  
  margin-bottom: 1em;
  height: 50px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outlet_info .item:nth-child(1) {
  width: 280px;
  margin-right: 2px;
  flex-grow: 0;
  background-color: orange;
}

.outlet_info .item:nth-child(2) {
  margin-bottom: 0;
  min-height: 100px;
  background-color: blue;
}
